<div>
<table border="1" width="100%">
  <tr>
    <td width="20%" class="la">
      <label>
        <%= I18n.t 'activerecord.attributes.expense_application.item_name' %>
      </label>
    </td>
    <td width="80%" class="la"><%= application.item_name %></td>
  </tr>

  <%if application.expense_type %>
    <tr>
    <td width="20%" class="la">
      <label>
        <%= I18n.t 'activerecord.attributes.expense_application.expense_type' %>
      </label>
    </td>
    <td width="80%" class="la"><%= application.class::EXPENSE_TYPE[application.expense_type.to_sym] %></td>
    </tr>
  <%end%>

  <tr>
    <td>
      <label>
        <%= I18n.t 'activerecord.attributes.expense_application.use' %>
      </label>
    </td>
    <td><%= application.use %></td>
  </tr>

  <%if application.use == I18n.t("init_data.expense_application.use.project")%>
   <tr>
    <td>
      <label for="project_name">
       <%= I18n.t 'activerecord.attributes.expense_application.project_name'%>
      </label>
    </td>
    <td colspan="3"><%= application.project_name%></td>
  </tr>
  <%end%>

  <tr>
    <td>
      <label>
        <%= I18n.t 'activerecord.attributes.expense_application.sum' %>
      </label>
    </td>
    <td><%= application.sum %></td>
  </tr>

  <tr>
    <td>
      <label>
        <%= I18n.t 'activerecord.attributes.expense_application.reason' %>
      </label>
    </td>
    <td><%= application.reason %></td>
  </tr>

  <%if application.attachment_file.exists? %>
      <tr>
        <td>
          <label>
            <%= I18n.t 'activerecord.attributes.application.attachment_file' %>
          </label>
        </td>
        <td><%= link_to(application.attachment_file_file_name, download_application_path(application)) %></td>
      </tr>
  <%end%>

  <%= render("application/detail_state_info", :application => application) %>
</table>
</div>
