<%= render 'side_bar/daily_office_side_bar' %>
<h1><%= I18n.t 'views_expense_application.title' %></h1>

<%= form_for(@expense_application) do |f| %>
  <div class="field">
    <%= f.label :item_name %>
    <%= f.text_field :item_name, :size => "60" %>
  </div>
  <div class="field">
    <%= f.label :expense_type %>
    <%= f.select(:expense_type, state_for_select, 
    {:include_blank => I18n.t('operate.select')}) %>
  </div>
  <div class="field">
    <%= f.label :use %>
    <%= render 'application/use_radio', :f => f, 
    :use_names => ExpenseApplication::USE%>
  </div>
  <div class="field">
  	<%= f.label :project_name %>
  	<%= f.text_field :project_name, :size => "60" %>
  </div>
  <div class="field">
    <%= f.label :sum %>
    <%= f.text_field :sum %>
  </div>
  <div class="field">
    <%= f.label :reason %>
    <%= f.text_area :reason, :size => "60x3" %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t("submit.location.#{params[:action]}") %>
  </div>
<% end %>
