<% content_for :javascript_epilogue do %>
  $('#project_name').hide();
  $("input:[name=expense_application[use]]:radio").change(
  function() {
    var $select_var =  $("input:[name=expense_application[use]]:radio:checked").val();
    if($select_var == "项目") {
      $('#project_name').show();
    } else {
      $('#project_name').hide();
    }
  }
);
<% end %>

<%= render 'side_bar/daily_office_side_bar' %>
<%= form_for @expense_application do |f| %>
  <% if @expense_application.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@expense_application.errors.count, "error") %>&nbsp;prohibited this user from being saved:</h2>
    <ul>
      <% @expense_application.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <h3><%= I18n.t 'views_expense_application.title' %></h3>
  </p>

  <p>
    <label for="item_name">
      <%= I18n.t 'activerecord.attributes.expense_application.item_name'%>
    </label><br/>
    <%= f.text_field :item_name, :size => "60" %>
  </p>

  <p>
    <label for="expense_type">
      <%= I18n.t 'activerecord.attributes.expense_application.expense_type'%>
    </label><br/>
    <%= f.select(:expense_type, state_for_select, {:include_blank => I18n.t('operate.select')})%>
  </p>

  <p>
    <label for="use">
    	<%= I18n.t 'activerecord.attributes.expense_application.use'%>
    </label>
    <br />
    <%= render 'application/use_radio', :f => f, :use_names => ExpenseApplication::USE%>
  </p>

  <p id="project_name">
    <label for="project_name">
      <%= I18n.t 'activerecord.attributes.expense_application.project_name'%>
    </label>
    <br />
    <%= f.text_field :project_name, :size => "60" %>
  </p>

  <p>
    <label for="sum">
    	<%= I18n.t 'activerecord.attributes.expense_application.sum'%>
    </label><br/>
    <%= f.text_field :sum, :size => "5" %>
  </p>

  <p>
    <label for="reason"><%= I18n.t 'activerecord.attributes.expense_application.reason'%>
    </label><br/>
    <%= f.text_area :reason, :size => "60x3" %>
  </p>

  <p>
    <label for="reason"><%= I18n.t 'activerecord.attributes.application.attachment_file'%></label><br/>
    <%= f.file_field :attachment_file %>
  </p>

  <p><%= submit_tag I18n.t('operate.commit') %></p>

<% end %>

<%= link_to I18n.t('operate.back'), expense_applications_path %>
