<%= render 'side_bar/admin_affaire_side_bar' %>
<h1 style="margin-top:0;"><%= I18n.t("views_work_log.title")%></h1>
<p class="subtitle">
  <%= I18n.t("views_work_log.total_notices_prompt") + ":" + @work_logs.size.to_s%>
</p>

<table border="0" cellspacing="0" cellpadding="0" class="wide notices">
  <tr>
    <!-- <th class="la" width="50%"><%= I18n.t 'activerecord.attributes.work_log.cotent'%></th> -->
    <th class="la" width="33%"><%= I18n.t 'views_work_log.owner' %></th>
    <th class="la" width="33%"><%= I18n.t 'activerecord.attributes.common.create_at' %></th>
    <!-- <th class="la" width="34%"><%= I18n.t 'views_work_log.operate' %></th> -->
  </tr>

<% @work_logs.each do |work_log| %>
  <tr>
    <!-- <td><%= link_to  truncate(strip_tags(work_log.content), :length => 40), admin_work_log_path(work_log), :class=>"title" %></td> -->
    <td><%= work_log.user_real_name %></td>
    <td><%= work_log.created_at %></td>
    <!-- <td>
       <%= link_to I18n.t('operate.show'), admin_work_log_path(work_log), :class => "tiny", :rel => "directory", :style => "float:right" %>
    </td> -->
  </tr>
<% end %>
</table>

<!-- <p><%= link_to I18n.t('operate.new') + I18n.t('activerecord.models.work_log'), new_work_log_path, :class => "utility" %></p> -->
