<%= render 'side_bar/admin_affaire_side_bar' %>
<p>
  <b><%= label_tag :content, I18n.t("activerecord.attributes.work_log.cotent")%></b>
  <%= @work_log.content %>
</p>

<%= link_to 'Edit', edit_work_log_path(@work_log) %> |
<%= link_to 'Back', work_logs_path %>
