<%= render 'side_bar/sale_affaire_side_bar' %>
<h1 style="margin-top:0;">
  <%= I18n.t "activerecord.models.billing_application" %>
</h1>
<p class="subtitle">
  <%= I18n.t "views_billing_application.total_application_prompt" %>:&nbsp;
  <%= @billing_applications.size %>
</p>

<table border="0" cellspacing="0" cellpadding="0" class="wide notices">
  <tr>
    <th width="20%" class="la">
      <%= I18n.t 'activerecord.attributes.application.sender' %>
    </th>
    <th width="20%" class="la">
      <%= I18n.t 'activerecord.attributes.billing_application.purchase_company' %>
    </th>
    <th width="20%" class="la">
      <%= I18n.t 'activerecord.attributes.billing_application.sum' %>
    </th>
    <th width="20%" class="la">
      <%= I18n.t 'activerecord.attributes.billing_application.use' %>
    </th>
  </tr>
  <% @billing_applications.each do |application| %>
    <tr>
      <td><%= application.sender_real_name%></td>
       <td><%= link_to application.purchase_company, sale_billing_application_path(application), :class => "admin"%></td>
      <!--<td><%= application.purchase_company %></td>-->
      <td><%= application.sum%></td>
      <td><%= application.use%></td>
    </tr>
  <% end %>
</table>

