<div>
<table border="1" width="100%">
  <tr>
    <td>
      <label>
        <%= I18n.t 'views_use_car_registration.real_user_name' %>
      </label>
    </td>
    <td colspan="3">
      <%= use_car_registration.real_user_name %>
    </td>
  </tr>
  <tr>
    <td width="20%" class="la">
      <label>
        <%= I18n.t 'views_use_car_registration.start_at_date' %>
      </label>
    </td>
    <td width="30%" class="la">
      <%= use_car_registration.start_at_date %>
    </td>
    <td width="20%" class="la">
      <label>
        <%= I18n.t 'views_use_car_registration.end_at_date' %>
      </label>
    </td>
    <td width="30%" class="la">
      <%= use_car_registration.end_at_date %>
    </td>
  </tr>

  <tr>
    <td width="20%" class="la">
      <label>
        <%= I18n.t 'views_use_car_registration.start_km_num' %>
      </label>
    </td>
    <td width="30%" class="la">
      <%= use_car_registration.start_km_num %>
    </td>
    <td width="20%" class="la">
      <label>
        <%= I18n.t 'views_use_car_registration.end_km_num' %>
      </label>
    </td>
    <td width="30%" class="la">
      <%= use_car_registration.end_km_num %>
    </td>
  </tr>

  <tr>
    <td>
      <label>
        <%= I18n.t 'views_use_car_registration.reason' %>
      </label>
    </td>
    <td colspan="3">
      <%= use_car_registration.reason %>
    </td>
  </tr>
</table>
</div>
