<%= render 'side_bar/admin_affaire_side_bar' %>
<h3><%= I18n.t 'activerecord.models.leave_application' %></h3>

<p>
  <label><%= I18n.t 'activerecord.attributes.application.sender' %></label><br />
  <%= @leave_application.sender_real_name %>
</p>

<%= render("leave_applications/detail_info", :leave_application => @leave_application) %>

<%= link_to I18n.t('operate.back'), admin_leave_applications_path %>
