<%= form_for(certification_application) do |f| %>
  <% if certification_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(certification_application.errors.count, "error") %> prohibited this certification_application from being saved:</h2>

      <ul>
      <% certification_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><h3><%= I18n.t 'views_certification_application.title' %></h3></div>

  <div><p>
    <label for="certificater_name" >
      <%= I18n.t 'views_certification_application.certificater_name' %>
    </label>
    <%= f.text_field :certificater_name, :size => '15' %>
  </p></div>

  <div><p>
    <label for="real_user_name" >
      <%= I18n.t 'views_certification_application.real_user_name' %>
    </label>
    <%= f.text_field :real_user_name, :size => '15' %>
  </p></div>

  <div><p>
    <label for="reason" >
      <%= I18n.t 'views_certification_application.reason' %>
    </label>
    <%= render 'application/use_radio', :f => f, :use_names => CertificationApplication::USE%>
  </p></div>

  <div><p>
    <label for="use_mode" >
      <%= I18n.t 'views_certification_application.use_mode' %>
    </label>
    <%= f.text_field :use_mode, :size => '15' %>
  </p></div>

  <div><p>
    <label for="out_date" >
      <%= I18n.t 'views_certification_application.out_date' %>
    </label>
    <%= f.text_field :out_date, :class => "datePicker", :size => '15' %>
  
    <label for="back_date" >
      <%= I18n.t 'views_certification_application.back_date' %>
    </label>
    <%= f.text_field :back_date, :class => "datePicker", :size => '15' %>
  </p></div>

  <div><p>
    <label for="details"><%= I18n.t 'views_certification_application.details'%>
    </label><br/>
    <%= f.text_area :details, :size => "60x3" %>
  </p></div>

  <div><p><%= submit_tag I18n.t('operate.commit') %></p></div>
<% end %>
