<%= render 'side_bar/sys_manage_sidebar' %>
<h1>角色设置</h1>

<%= render 'settings', :role=>@role %>
<p><%= submit_tag  '更新设置' %></p>
<br />

<%= link_to 'Show', @role %> |
<%= link_to 'Back', roles_path %>
