<%= render 'side_bar/daily_office_side_bar' %>

<h1 style="margin-top:0;">
  <%= I18n.t "activerecord.models.leave_application" %>
</h1>
<p class="subtitle">
  <%= I18n.t "views_leave_application.total_application_prompt" %>:&nbsp;
  <%= @size %>
</p>

<table border="0" cellspacing="0" cellpadding="0" class="wide notices">
  <tr>
    <th width="55%" class="la">
      <%= I18n.t 'activerecord.attributes.leave_application.reason' %>
    </th>
    <th width="15%" class="la">
      <%= I18n.t 'activerecord.attributes.common.state' %>
    </th>
    <th width="30%" class ="la">
      <%= I18n.t 'activerecord.attributes.application.created_at' %>
    </th>
  </tr>
  <% @leave_applications.each do |application| %>
    <tr>
      <td>
        <%= link_to application.reason, application, :class => "admin" %>
        <%if application.state == 'approved'%>
            <%= link_to  I18n.t('views_leave_application.edit_real_end_at'), edit_leave_application_path(application), :class => "tiny", :rel => "directory", :style => "float:right" %><br/>
        <%end%>
      </td>

      </td>
      <td><%= application.state_I18n %></td>
      <td><%= application.created_at %></td>
    </tr>
  <% end %>
</table>

<%= render 'application/pagination', :posts =>  @leave_applications %>

<p>
  <%= link_to I18n.t('operate.new') + I18n.t("activerecord.models.leave_application"), new_leave_application_path, :class => "utility" %>
</p>
