<%= render 'side_bar/daily_office_side_bar' %>

<h1 style="margin-top:0;"><%= I18n.t 'activerecord.models.prompt_message' %></h1>
<p class="subtitle">
  <%= I18n.t 'views_communicate_message.total_message_prompt' %>:&nbsp;
  <%= @size %>
</p>

<table border="0" cellspacing="0" cellpadding="0" class="wide notices">
  <tr>
    <th class="la" width="70%">
      <%= I18n.t 'activerecord.attributes.message.content' %>
    </th>
    <!-- <th width="30%"><%= I18n.t 'activerecord.attributes.message.sender' %></th> -->
  </tr>
  <% @prompt_messages.each do |message| %>
    <tr>
      <td><%= link_to message.content, message, :class => "admin" %></td>
      <!-- <td class="inv lp">
          
      </td> -->
    </tr>
  <% end %>
</table>

<%= render 'application/pagination', :posts => @prompt_messages %>
