<%= render 'side_bar/daily_office_side_bar' %>
<h1><%= I18n.t 'views_leave_application.title'%></h1>

<%= form_for @business_trip_application do |f| %>
  <% if @business_trip_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_trip_application.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
      <% @business_trip_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render("detail_info", :application => @business_trip_application) %>

  <div><p>
    <label for="real_end_at">
      <%= I18n.t 'activerecord.attributes.leave_application.real_end_at' %>
    </label>
    <%= f.text_field :real_end_at, :class => "timepicker", :size => '15' %>
  </p></div>

    <p><%= f.submit  I18n.t 'operate.update' %></p>

<% end %>
<br />
